<div>
    <h1>{{ section.settings.unique1 | escape }}</h1>
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'text' %}
                <img 
                 src="{{block.settings.unique2 | img_url: '3000x'}}"
                 width="{{block.settings.unique2.width}}" 
                 height="{{block.settings.unique2.height}}" 
                 loading="lazy">
                <h2>{{ block.settings.unique | escape}}</h2>
        {%endcase%}
    {%endfor%}
</div>

{% schema %}
{
    "name": "t:sections.text.name",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
      {
        "type":"text",
        "id":"unique1",
        "label":"Heading",
        "default":"This is a heading"
      }
    ],
    "blocks": [
        {
            "name": "author details",
            "type": "text",
            "settings":[
                {
                  "type": "text",
                  "id": "unique",
                  "default": "Say something about the author",
                  "label":"Description about author"
                },
                {
                  "type": "image_picker",
                  "id": "unique2",
                  "label": "Image"
                }   
            ]
        },
		{
			"type": "@app"
		}
    ],
    "presets": [
    {
      "name": "about author",
	  "blocks": [
       {
          "type": "text"
       },
	   {
			"type": "@app"
	   }

      ]
    }
  ]
}
{% endschema  %}